<h1>Enter Your Recipe Details</h1>
<%= simple_form_for @recipe do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <br />
    <%= f.submit 'Create' %>
  <% end %>